### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [40]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [41]:
#Calculate the total number of schools
total_number_schools = len(school_data_complete["School ID"].unique())
#total_number_schools

#Calculate the total number of students
total_number_students = len(school_data_complete["Student ID"].unique())
#total_number_students

#Calculate the total budget
total_budget = school_data["budget"].sum()
#total_budget

#Calculate the average math score
average_math_score = student_data["math_score"].mean()
#average_math_score

#Calculate the average reading score
average_reading_score = student_data["reading_score"].mean()
#average_reading_score

 #the percentage of students with a passing math 
student_data["#passing_math"] = student_data["math_score"] >= 70
student_data["#passing_reading"] = student_data["reading_score"] >= 70
percent_passing_math = ((student_data["#passing_math"]).mean())*100
#percent_passing_math

#Calculate the percentage of students with a passing reading score (70 or greater)
percent_passing_reading = ((student_data["#passing_reading"]).mean())*100
#percent_passing_reading

#Calculate overall percentage
overall_passing_rate = (percent_passing_math + percent_passing_reading)/2
overall_passing_rate

#Create a dataframe 
district_results = [{"Total Schools": total_number_schools, 
            "Total Students": total_number_students, 
            "Total Budget": total_budget, 
            "Average Math Score":  round(average_math_score,2), 
            "Average Reading Score":  round(average_reading_score,2), 
           "% Passing Math": round(percent_passing_math,2),
           "% Passing Reading": round(percent_passing_reading,2),
            "% Overall Passing Rate": round(overall_passing_rate,2)}]
district_summary_table = pd.DataFrame(district_results)
district_summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.99,81.88,74.98,85.81,80.39

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [42]:
#group by schools
school_names = school_data_complete.set_index("school_name").groupby(["school_name"])

#school type
school_types = school_data.set_index("school_name")["type"]
school_types

#total students
students_per_school = school_names['Student ID'].count()
students_per_school

#total school budget
school_budget = school_data.set_index("school_name")["budget"]
school_budget

#per student budget
budget_per_student = school_data.set_index("school_name")["budget"]/school_data.set_index("school_name")["size"]
budget_per_student

#average math score
average_math_score = school_names["math_score"].mean()

#average reading score
average_read_score = school_names["reading_score"].mean()

#percent math pass
passing_math_percent= school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["Student ID"].count()/students_per_school 
#print (passing_math_percent)

#percent reading pass
passing_read_percent = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name")["Student ID"].count()/students_per_school
#print (passing_read_percent)

#overall pass rate
overall_pass_rate = (passing_math_percent+passing_read_percent)/2

#print(overall_pass_rate)

#create a dataframe to hold above
summary_by_school= pd.DataFrame({
   "School Type": school_types,
   "Total Students": students_per_school,
   "Total School Budget": school_budget,
    "Per Student Budget": budget_per_student,
    "Average Math Score": average_math_score,
    "Average Reading Score": average_read_score,
    "% Passing Math": passing_math_percent,
    "% Passing Reading": passing_read_percent,
    "%Overall Passing Rate": overall_pass_rate
})
                                         
summary_by_school

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,%Overall Passing Rate
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.743067
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.955867
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.733639
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.738043
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.952657
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.738080
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.943794
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.735002
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.736400
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.952703
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.732933
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.948609
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.952905
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.952037
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.949722

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [64]:
top_5 = summary_by_school.sort_values("%Overall Passing Rate",ascending = False)
top_5.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,%Overall Passing Rate
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.955867
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.952905
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.952703
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.952657
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.952037

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [65]:
bottom_5 = summary_by_school.sort_values("%Overall Passing Rate")
bottom_5.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,%Overall Passing Rate
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.732933
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.733639
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.735002
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.736400
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.738043

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [45]:
ninth = student_data.loc[student_data["grade"] == "9th"].groupby("school_name")["math_score"].mean()
tenth = student_data.loc[student_data["grade"] == "10th"].groupby("school_name")["math_score"].mean()
eleventh = student_data.loc[student_data["grade"] == "11th"].groupby("school_name")["math_score"].mean()
twelfth = student_data.loc[student_data["grade"] == "12th"].groupby("school_name")["math_score"].mean()

#Combine the series into a dataframe
math_scores = pd.DataFrame({
        "9th": ninth,
        "10th": tenth,
        "11th": eleventh,
        "12th": twelfth
})

math_scores

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [46]:
ninth_read = student_data.loc[student_data["grade"] == "9th"].groupby("school_name")["reading_score"].mean()
tenth_read = student_data.loc[student_data["grade"] == "10th"].groupby("school_name")["reading_score"].mean()
eleventh_read = student_data.loc[student_data["grade"] == "11th"].groupby("school_name")["reading_score"].mean()
twelfth_read = student_data.loc[student_data["grade"] == "12th"].groupby("school_name")["reading_score"].mean()

#Combine the series into a dataframe
read_scores = pd.DataFrame({
        "9th": ninth_read,
        "10th": tenth_read,
        "11th": eleventh_read,
        "12th": twelfth_read
})

read_scores

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [35]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]
school_data_complete["spending_bins"] = pd.cut(school_data_complete["budget"]/school_data_complete["size"], spending_bins, labels = group_names)

#group by spending bins
groupby_spending = school_data_complete.groupby("spending_bins")

#average math score
math_average = groupby_spending["math_score"].mean()
#average reading score
reading_average = groupby_spending["reading_score"].mean()
#% passing math
percent_pass_math = school_data_complete[school_data_complete["math_score"] >=70].groupby("spending_bins")["Student ID"].count()/groupby_spending["Student ID"].count()
#% passing reading
percent_pass_read = school_data_complete[school_data_complete["reading_score"] >=70].groupby("spending_bins")["Student ID"].count()/groupby_spending["Student ID"].count()
#overall passing rate(average of above two)
overall_pass = (percent_pass_math + percent_pass_read)/2
                        
scores_by_school_spend = pd.DataFrame({
    "Average Math Score": math_average,
    "Average Reading Score": reading_average,
    "% Passing Math": percent_pass_math,
    "% Passing Reading": percent_pass_read,
    "%Overall Passing Rate": overall_pass
            
})
            
scores_by_school_spend

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,%Overall Passing Rate
spending_bins,,,,,
<$585,83.363065,83.964039,0.937029,0.966866,0.951947
$585-615,83.529196,83.838414,0.941241,0.958869,0.950055
$615-645,78.061635,81.434088,0.714004,0.836148,0.775076
$645-675,77.049297,81.005604,0.662308,0.811094,0.736701

## Scores by School Size

* Perform the same operations as above, based on school size.

In [36]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

school_data_complete["size_bins"] = pd.cut(school_data_complete["size"], size_bins, labels = group_names)

#group by school size
groupby_size = school_data_complete.groupby("size_bins")

#average math score
math_avg = groupby_size["math_score"].mean()
#average reading score
reading_avg = groupby_size["reading_score"].mean()
#% passing math
perc_pass_math = school_data_complete[school_data_complete["math_score"] >=70].groupby("size_bins")["Student ID"].count()/groupby_size["Student ID"].count()
#% passing reading
perc_pass_read = school_data_complete[school_data_complete["reading_score"] >=70].groupby("size_bins")["Student ID"].count()/groupby_size["Student ID"].count()
#overall passing rate(average of above two)
overall_passing = (perc_pass_math + perc_pass_read)/2
          
scores_by_school_size = pd.DataFrame({
    "Average Math Score": math_avg,
    "Average Reading Score": reading_avg,
    "% Passing Math": perc_pass_math,
    "% Passing Reading": perc_pass_read,
    "%Overall Passing Rate": overall_passing
            
})

scores_by_school_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,%Overall Passing Rate
size_bins,,,,,
Small (<1000),83.828654,83.974082,0.939525,0.960403,0.949964
Medium (1000-2000),83.372682,83.867989,0.936165,0.967731,0.951948
Large (2000-5000),77.477597,81.198674,0.686524,0.821252,0.753888

## Scores by School Type

* Perform the same operations as above, based on school type

In [37]:
# group by type of school
groupby_type = school_data_complete.groupby("type")

#average math score
math_avgs = groupby_type["math_score"].mean()
#average reading score
reading_avgs = groupby_type["reading_score"].mean()
#% passing math
perc_pass_math = school_data_complete[school_data_complete["math_score"] >=70].groupby("type")["Student ID"].count()/groupby_type["Student ID"].count()
#% passing reading
perc_pass_reading = school_data_complete[school_data_complete["reading_score"] >=70].groupby("type")["Student ID"].count()/groupby_type["Student ID"].count()
#overall passing rate(average of above two)
overall_passing = (perc_pass_math + perc_pass_reading)/2

scores_by_school_type = pd.DataFrame({
    "Average Math Score": math_avgs,
    "Average Reading Score": reading_avgs,
    "% Passing Math": perc_pass_math,
    "% Passing Reading": perc_pass_reading,
    "%Overall Passing Rate": overall_passing})

scores_by_school_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,%Overall Passing Rate
type,,,,,
Charter,83.406183,83.902821,0.937018,0.966459,0.951739
District,76.987026,80.962485,0.665184,0.809052,0.737118